@media (max-width: 700px){
    .all-carts{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
       
    }
    .all-carts .cart1{
        display: flex;
        flex-direction: column;
        
    }
    .disan{
        display: none;
    }
   .gallary{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    padding: 3px;

   }
   .your-gallary{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
   
   }
   .your-gallary .img-12{
       display: none;
   }
   .carts{
    display: none;
   }
   .sign-up{
       display: flex;
       flex-direction:column;
   }
   .sign-up .ph3{
       display: none;
   }
   .footering{
       display: flex;
       flex-direction: column;
   }
   .your-footer{
       display: none;

   }
   .my-footer{
       margin: 0px;
       padding: 50px;
       justify-content: center;
   }
}